<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Task App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Styles -->
        <link rel="stylesheet" href="/static/css/styles.css">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            {% block content %}

            {% endblock content %}
        </div>
        <footer>
            <p>Developed by <a href="https://linkedin.com/in/francosparn" class="author" target="_blank" rel="noopener noreferrer">Franco Sparn</a> &copy; 2022.</p>
        </footer>

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/d660d9cdb0.js" crossorigin="anonymous"></script>
    </body>
</html>