{% extends 'base/index.html' %}

{% block content %}
<div class="header">
    <div class="text-header">
        <h1>👋 ¡Hi <strong class="username">{{ request.user }}</strong>!</h1>
        <p><i>You have an incomplete <strong>{{ count }}</strong> task{{ count|pluralize }}.</i></p>
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}" class="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
</div>

<div class="search">
    <form method="GET">
        <input type="text" name="searcher" class="input-search" value="{{ search }}" placeholder="What do you want to search?" />
        <button type="submit" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
    </form>
</div>

<div class="create-task">
    <a href="{% url 'create-task' %}" class="btn-create-task"><i class="fa-solid fa-plus"></i> Create New Task</a>
</div>

<div class="task-item">
    {% for task in tasks %}
    <div class="task-block">
        {% if task.complete %}
            <div class="task-title">
                <div class="task-icon-complete"></div>
                <a href="{% url 'edit-task' task.id %}"><s>{{ task }}</s></a>
            </div>
            <a class="delete-task" href="{% url 'delete-task' task.id %}"><i class="fa-solid fa-trash-can delete-icon"></i></a>
        {% else %}
            <div class="task-title">
                <div class="task-icon-incomplete"></div>
                    <a href="{% url 'edit-task' task.id %}">{{ task }}</a>
            </div>
            <a class="delete-task" href="{% url 'delete-task' task.id %}"><i class="fa-solid fa-trash-can delete-icon"></i></a>
        {% endif %}
    </div>
    {% empty %}
    <h4>No information available</h4>
    {% endfor %}
</div>
{% endblock content %}
